
<div style="display:flex; align-items: center; justify-content: space-between;">
  <h1 style="color:cadetblue; margin:20px 20px">App</h1>
  <div style="display:flex; align-items: center;">
    <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLinkActive="active" routerLink="/about" [routerLinkActiveOptions]="{exact: true}">About</a>
    <a routerLinkActive="active" routerLink="/profile" [routerLinkActiveOptions]="{exact: true}">profile</a>
    <a routerLinkActive="active" routerLink="/login" [routerLinkActiveOptions]="{exact: true}">Login</a>
  </div>
</div>
